@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: OranienbaumRegular;
  src: url("/fonts/Oranienbaum/Oranienbaum-Regular.ttf");
}

@font-face {
  font-family: Outfit;
  src: url("/fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: KarlaRegular;
  src: url("/fonts/Karla/Karla-VariableFont_wght.ttf");
}

.oranienbaumRegular {
  font-family: OranienbaumRegular;
}

.outfit {
  font-family: Outfit;
}

.karla {
  font-family: KarlaRegular;
}

input {
  border-color: #fbf7f4;
  outline: none;
}

textarea {
  border-color: #fbf7f4;
  outline: none;
}

/* loader animation */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}
