@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: OranienbaumRegular;
  src: url("/fonts/Oranienbaum/Oranienbaum-Regular.ttf");
}

@font-face {
  font-family: OutfitLight;
  src: url("/fonts/Outfit/static/Outfit-Light.ttf");
}

@font-face {
  font-family: KarlaRegular;
  src: url("/fonts/Karla/static/Karla-Regular.ttf");
}

.oranienbaumRegular {
  font-family: OranienbaumRegular;
}

.outfitLight {
  font-family: OutfitLight;
}

.karlaRegular {
  font-family: KarlaRegular;
}

input {
  border-color: #fbf7f4;
}
