@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: OranienbaumRegular;
  src: url("/fonts/Oranienbaum/Oranienbaum-Regular.ttf");
}

@font-face {
  font-family: Outfit;
  src: url("/fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: KarlaRegular;
  src: url("/fonts/Karla/Karla-VariableFont_wght.ttf");
}

.oranienbaumRegular {
  font-family: OranienbaumRegular;
}

.outfit {
  font-family: Outfit;
}

.karla {
  font-family: KarlaRegular;
}

input {
  border-color: #fbf7f4;
}
